- unless current_user.site
  %p{:style => 'float: left; margin-right: 32px'}
    %label{:for=>"snippet_site_id", :Class => "admin_only"}
      Site
    - sites = Site.find(:all).map { |s| [s.name, s.id] }
    - sites.push(['<shared>' => '']) if Snippet.shareable
    = select :snippet, :site_id, sites
