- if current_user.admin?
  %p{:style => 'float: left; margin-right: 32px'}
    %label{:for=>"layout_site_id", :Class => "admin_only"}
      Site
    = select :layout, :site_id, [['<shared>', '']] + Site.find(:all).map { |s| [s.name, s.id] }
